<div class="dashboard">
  <div class="ui-g overview-boxes">

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-1">
        <div class="overview-box-title">
          <i class="fa fa-user"></i>
          <span>Clients</span>
        </div>
        <div class="overview-box-count">532</div>
        <div class="overview-box-stats">250 more than yesterday</div>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-3">
        <div class="overview-box-title">
          <i class="fa fa-car"></i>
          <span>Vehicles</span>
        </div>
        <div class="overview-box-count">450</div>
        <div class="overview-box-stats">30 more than yesterday</div>
      </div>
    </div>

    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <div class="ui-g overview-box overview-box-2">
        <div class="overview-box-title">
          <i class="fa fa-paper-plane"></i>
          <span>Notifications Today</span>
        </div>
        <div class="overview-box-count">532</div>
        <div class="overview-box-stats">46 more than yesterday</div>
      </div>
    </div>

  </div>
</div>

<sub>*Dummy Data*</sub>