<h2>Client Detail</h2>

<div *ngIf="loading">
  <h1>Loading...</h1>
</div>

<div *ngIf="client">

  <div class="ui-g ui-fluid form-group" *ngIf="client">

    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <button label="Search" pbutton="" disabled="true" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
          <span class="ui-button-text">Reference</span>
        </button>
        <input pinputtext=p laceholder="Client Ref" type="text" readonly [(ngModel)]="client.clientRef " class="ui-inputtext ui-corner-all ui-state-default ui-widget ">
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <button label="Search" pbutton="" disabled="true" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
          <span class="ui-button-text">Email</span>
        </button>
        <input pinputtext=" " placeholder="Client Ref " type="text " readonly [(ngModel)]="client.email " class="ui-inputtext ui-corner-all ui-state-default ui-widget ">
      </div>
    </div>
    <div class="ui-g-12 ui-md-12">
      <div class="ui-inputgroup">
        <button label="Search" pbutton="" disabled="true" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
          <span class="ui-button-text">Type</span>
        </button>
        <input pinputtext=" " placeholder="Client Type " type="text " readonly [(ngModel)]="client.clientType " class="ui-inputtext ui-corner-all ui-state-default ui-widget ">
      </div>
    </div>

  </div>

  <h3>
    Watching Vehicles
    <span class="badge">{{client.watchedVehicles.length}}</span>
  </h3>
  <p-dataTable [value]="client.watchedVehicles">
    <p-column field="category" header="Category"></p-column>
    <p-column field="registration" header="Registration"></p-column>
    <p-column field="price" header="Price"></p-column>
    <p-column field="priceChanges.length" header="Price Changes"></p-column>
    <p-column styleClass="col-button">
      <ng-template let-vehicle="rowData" pTemplate="body">
        <button type="button" pButton [routerLink]="['/vehicles', vehicle.registration]" icon="fa-pencil"></button>
      </ng-template>
    </p-column>
  </p-dataTable>

  <br>

  <h3>
    Unwatched Vehicles
    <span class="badge">{{client.unwatchedVehicles.length}}</span>
  </h3>
  <p-dataTable [value]="client.unwatchedVehicles">
    <p-column field="category" header="Category"></p-column>
    <p-column field="registration" header="Registration"></p-column>
    <p-column field="price" header="Price"></p-column>
    <p-column field="priceChanges.length" header="Price Changes"></p-column>
    <p-column styleClass="col-button">
      <ng-template let-vehicle="rowData" pTemplate="body">
        <button type="button" pButton [routerLink]="['/vehicles', vehicle.registration]" icon="fa-pencil"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
  <br>
  <h3>
    Notification History
    <span class="badge">{{client.notifications.length}}</span>
  </h3>
  <p-dataTable [value]="client.notifications">
    <p-column field="type" header="Type"></p-column>
    <p-column field="vehicleRegistration" header="Registration"></p-column>
    <p-column field="priceChange.oldPrice" header="Old Price"></p-column>
    <p-column field="priceChange.newPrice" header="New Price"></p-column>
  </p-dataTable>
  <br>

</div>