<h2>
  Vehicles
  <span class="badge">{{vehicles?.length}}
    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
  </span>
</h2>


<p-dataTable [value]="vehicles">
  <p-column [filter]="true" field="category" header="Category"></p-column>
  <p-column [filter]="true" field="registration" header="Registration"></p-column>
  <p-column [filter]="true" field="price" header="Price"></p-column>
  <p-column [filter]="true" field="priceChanges.length" header="Price Changes"></p-column>
  <p-column styleClass="col-button">
    <ng-template let-vehicle="rowData" pTemplate="body">
      <button type="button" pButton [routerLink]="['/vehicles', vehicle.registration]" icon="fa-pencil"></button>
    </ng-template>
  </p-column>
</p-dataTable>